In [1]:
import pandas as pd

data = {
    'salesperson': ['Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob'],
    'region': ['North', 'South', 'North', 'South', 'East', 'East'],
    'sales': [100, 200, 150, 180, 300, 230]
}

df = pd.DataFrame(data)

df

  salesperson region  sales
0       Alice  North    100
1         Bob  South    200
2       Alice  North    150
3         Bob  South    180
4       Alice   East    300
5         Bob   East    230

In [5]:
grouped = df.groupby(['salesperson', 'region'])

grouped

In [6]:
sales_sum = grouped['sales'].sum()

sales_sum

salesperson  region
Alice        East      300
             North     250
Bob          East      230
             South     380
Name: sales, dtype: int64