## Pandas = Python for Data Analysis

Pandas = Python for Data Analysis
* High-performance manipulation of text, integers, numbers, dates
* Data alignment, reshaping, pivoting
* Intelligent slicing, grouping, and subsetting
* Merging and joining of sets
* Integrated modules for analysis, plots, visualizations, maps, networks

Read more [here](https://pandas.pydata.org/about/
).

Tutorials [here](https://www.w3schools.com/python/pandas/default.asp).

Pandas Cheat Sheet:  [here](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

# Import Libraries

Before we can do anything we need to import the python tools we need:

* **pandas** is the main library
* **matplot** will help us render graphs and charts
* **numpy** performs mathematical operations on arrays
* there are dozens of other standard libraries; if they work with Python, they will work with Jupyter and Pandas

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Import Data

Pandas **data frames** are the basic unit upon which all operations take place.  Data frames are like spreadsheets, with columns and rows.

Indeed, Pandas can easily import spreadsheets in **CSV** (comma separated values) format.  We will also import data from databases in **JSON** format (Java Script Object Notation), similar to a Python dictionary.  There are special scripts for working with JSON, too.

Pandas can export as well as import these formats (among others).

# Meet the Beatles

We begin with data about the albums and songs issued by the Beatles. The data are drawn from two sources:

* A set from **Spotify** includes information about 193 songs, albums, years, plus other acoustic ratings that Spotify uses to characterize tracks. View these data as a Google spreadsheet [here](https://docs.google.com/spreadsheets/d/1CBiNbxqF4FHWMkFv-C6nl7AyOJUFqycrR-EvWvDZEWY/edit#gid=953807965).

* A set compiled by a team at the **University of Belgrade (Serbia)** that contains information about over 300 Beatles songs:  author(s), lead singer(s), album, musical genre(s), and standing in the Top 50 Billboard charts.  View these data on Github [here]('https://github.com/inteligentni/Class-05-Feature-engineering/blob/master/The%20Beatles%20songs%20dataset%2C%20v1%2C%20no%20NAs.csv')).

We will work with both of these sets, and in the process learn how to inspect, clean, combine, filter, group, and analyze the information they contain.

We give the URL of the CSV file a name (simply for convenience), then pass that name to the `read_csv('source_file_name')` method, and name the resulting data frame.

```
beatles_spotify_csv = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRCv45ldJmq0isl2bvWok7AbD5C6JWA0Xf1tBqow5ngX7_ox8c2d846PnH9iLp_SikzgYmvdPHe9k7G/pub?output=csv'

beatles_spotify = pd.read_csv(beatles_spotify_csv)

```

or 

```
beatles_billboard_csv = 'https://raw.githubusercontent.com/inteligentni/Class-05-Feature-engineering/master/The%20Beatles%20songs%20dataset%2C%20v1%2C%20no%20NAs.csv'

beatles_billboard = pd.read_csv(beatles_billboard_csv)
```

In [ ]:
beatles_spotify_csv = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRCv45ldJmq0isl2bvWok7AbD5C6JWA0Xf1tBqow5ngX7_ox8c2d846PnH9iLp_SikzgYmvdPHe9k7G/pub?output=csv'

In [ ]:
beatles_spotify = pd.read_csv(beatles_spotify_csv)
beatles_spotify

In [ ]:
beatles_billboard_csv = 'https://raw.githubusercontent.com/inteligentni/Class-05-Feature-engineering/master/The%20Beatles%20songs%20dataset%2C%20v1%2C%20no%20NAs.csv'

In [ ]:
beatles_billboard = pd.read_csv(beatles_billboard_csv)
beatles_billboard

Inspect the DataFrame

Now we can look at the data in various ways to see what is here. The first column is the `index` (and begins with "0").


* `beatles_spotify.info()` will show the names, number and data types of the columns
* `beatles_spotify.shape` will tell us the size of our frame:  how many **rows and columns**, like `(193, 11)`.  Note:  normally these methods are followed by `()`.  This one is not.
* `beatles_spotify.describe()` delivers basic statistical information about the set, such as count, average, mean, standard deviation, and basic percentiles.

In [ ]:
beatles_spotify.info()

In [ ]:
beatles_spotify.shape

In [ ]:
beatles_spotify.describe()

# Working with Rows

By default Pandas shows only the first and last five rows of any data frame.  There are various ways to see others:

* **All rows**, set `pandas.set_option('display.max_rows', None)` or `pd.options.display.max_rows = 9999` before you display the frame.
* **Head** rows (default of five from the start, but can be any number):  `beatles_spotify.head(20)`
* **Tail** rows (default of five from the end, but can be any number):  `beatles_spotify.tail(20)`
* **Sample** a random sampling of x rows:  `beatles_spotify.sample(20)`


#### Selecting Rows:  `loc` and `iloc`

* **iloc** to select rows by **index number** (the left-hand column) use `iloc`. The syntax puts rows before columns, as in `beatles_spotify.iloc[startrow:endrow, startcolumn:endcolumn]`.  Thus rows 10-15 (and all columns) of our dataframe would be `beatles_spotify.iloc[10:15, :]`.  Note:  the first number is *inclusive* but the second is *exclusive*.  So `10:15` will yield rows 10, 11, 12, 13, 14, but *not* 15.
* **loc** to select rows by **label** of the left-hand column (as when you might have an index of strings), use `loc`.  This is useful when our index is a string rather than a number.  It is especially useful for working with columns.

Pandas Cheat Sheet:  [here](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

In [ ]:
beatles_spotify.iloc[10:15,]

# Working with Columns


We now start to look more closely the columns.


* **column names** as a list:  `beatles_spotify.columns`
* **rename a column**:  `beatles_billboard["album"] = beatles_billboard["Album.debut"]` or `beatles_billboard.rename(columns = {'Album.debut':'album'})`
* **drop a column**: `beatles_billboard.drop(columns=['Album.debut'])`.  Note that these must be presented as a list, even if there is only one!
* **add a column**; in this case we might want to create a column based on condition in another (like "Instrumental" as a Boolean ):   
* **data types** of the columns:  `beatles_spotify.dtypes`.  Note that we can do something similar with `beatles_spotify.info()`.  To change data type, see Cleaning and Checking Data, below.
* **sort the columns** alphabetically:  `beatles_spotify.columns.sort_values()`
* **move or reorganize columns** by specifying a new order; this would also work to drop certain columns ommitted from the list:

```
column_list = ['Title', 'Year', 'Album.debut', 'Genre','Songwriter', 'Top.50.Billboard']
beatles_billboard_short = beatles_billboard[column_list]
beatles_billboard_short
```


An individual column is called a **series**
* **One column**:  `beatles_spotify["year"]`
* Count the **number of unique values** in a single column: `beatles_spotify["album"].nunique()`
* Count the **number of entries** for each value in a column:  `beatles_spotify["album"].value_counts()`

Pandas Cheat Sheet:  [here](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

In [ ]:
beatles_billboard.columns

In [ ]:
beatles_spotify.dtypes

In [ ]:
beatles_billboard.dtypes

In [ ]:
beatles_spotify.columns.sort_values()

In [ ]:
column_list = ['Title', 'Year', 'Album.debut', 'Genre','Songwriter', 'Top.50.Billboard']
beatles_billboard_short = beatles_billboard[column_list]
beatles_billboard_short

An individual column is represented as a "Series"

```
beatles_spotify["song"]
```

In [ ]:
beatles_spotify["song"]

# Cleaning and Checking Data

Missing data or data encoded as the wrong type will result in errors of various kinds.  See more [here](https://www.w3schools.com/python/pandas/pandas_cleaning.asp).



**The NaN Problem**. In Python there is a difference between a "0" and nothing.  The latter is a Null, which represents "no data at all."  Nulls will result in errors when you attempt to perform some operation on them.  You cannot add to or compare something to a Null.  Nor can you test whether a Null contains some set of characters or matches a word. 

* **Find the NaN's**:  `df[df.isna().any(axis=1)]`, or for the billboard data:  `beatles_billboard[beatles_billboard.isna().any(axis=1)]`.  

* **Fill the NaN's**. If you are performing mathematical operations, You can fill missing values with some default number or string. The solution will probably vary from one column to the next (since some are integers, some dates, and are text):  `beatles_billboard.fillna("-")` would fill *all NaN* with the same string.  But we could instead try something that would be more meaningful.  For example: `beatles_billboard['Album.debut'].fillna("unreleased", inplace=True)`
* If you are trying to filter a data frame by a particular keyword or condition, you can treat the Nulls as "False" and thereby ignore them.

**Duplicate rows** can also create errors, or distort your results.  Find them:  `duplicate = beatles_billboard[beatles_billboard.duplicated()]
duplicate` (in this case there are none).  Remove them automatically with `beatles.drop_duplicates()`

**Wrong Data Type** in a given column is another common error (particularly since Pandas attempts to guess the correct data type when importing from CSV or JSON).  In our beatles_spotify dataset, notice that the data type for 'energy' is `object`, which in the context of Pandas means it is a Python `string`.  As such we cannot perform mathematical operations on it. Change the data type with the `astype()` method:

```
beatles_spotify['energy'] = beatles_spotify['energy'].astype(np.float64)
```

The same thing can happen with **date=time** information.  In our orignal datasets, the "Year" columms are in fact integers.  This works fine for basic sorting.  But Pandas has an intelligent format for working with date-time information that allows us to sort by month-day-year, or create 'bins' representing quarters, decades, centuries.  

So you will need to check the original data type, then convert to strings before converting to **date-time format**.  For example:

```

beatles_billboard["Year"] = beatles_billboard["Year"].astype(str)

```

Then convert that string to **datetime** format (in this case, in a new column, for comparison):

```
beatles_billboard["Year_DT"] = pd.to_datetime(beatles_billboard["Year"], format='%Y')
```
And then reorder the columns for clarity:

```
beatles_billboard_sorted = beatles_billboard.iloc[:, [0, 1, 9, 3, 4, 5, 6, 7, 8]]
beatles_billboard_sorted.head()


```

**Wrong or Inconsistent Format** as when spelling or capitalization are different for the same item across many rows or columns.  There are Pandas methods to help with this process. 


**Incorrect Data**.  This is more difficult, since you will need to know the details of the errors, and how to correct them.  But Python and Pandas can help you automate the process.

See more [here](https://towardsdatascience.com/simplify-your-dataset-cleaning-with-pandas-75951b23568e).

#### Cleaning Data with Functions

Let's imagine that you have a dataset in which a particular column contains data that are inconsistent:  in some places for the name of an artist you have `John Lennon`, and other places `John Lenin`.  You could correct them by hand in a Spreadsheet.  But there is an easier way with a Python **function**.

You will first want to understand all the values you are trying to correct.  So here you would use Pandas/Python **set** method on all the values of the df["column"] in question:

`set(df["Artist"])`

Now that you know what the problem values are, write a **function** that corrects `John Lenin` to `John Lennon`.  If you don't recall **functions** see **NB A Python Basics**!
```

def name_check:
    if df["Artist"] == "John Lenin":
        return "John Lennon"
```
In this case the **return** statement makes the result available for the next step in the process.

But how to run this over **all rows** of a data frame?  We can easily do this with the **apply** method. In effect it **apply** allows us to automatically pass over all rows in the data frame, transforming only the column we select.  

`df['column'] = df['column'].apply(name_check)`

Note that we could use this approach not only for correcting data, but for creating **new columns** based on **existing columns**.  For example:  a Boolean column (True/False) based on the result of the contents of another column.  Here the new column will report True for any row where the column "artist" contains the string "Lennon".  

`df['By_Lennon'] = df['artist'].str.contains("Lennon")`

We can then use the Boolean column to filter the entire frame (see below).

In [ ]:
# try out some of the methods above!

In [ ]:
# Check for NA's anywhere

beatles_billboard[beatles_billboard.isna().any(axis=1)]

In [ ]:
# replace NA's in Album column with 'unreleased'

beatles_billboard['Album.debut'].fillna("unreleased", inplace=True)

In [ ]:
beatles_billboard["Year"] = beatles_billboard["Year"].astype(str)
beatles_billboard["Year_DT"] = pd.to_datetime(beatles_billboard["Year"], format='%Y')
beatles_billboard_sorted = beatles_billboard.iloc[:, [0, 1, 9, 3, 4, 5, 6, 7, 8]]
beatles_billboard_sorted.head()

# Count, Sort, and Filter

Pandas affords many ways to take stock of your data, with built-in functions counts of values, means, averages, and other statistical information.  Many of these are detailed on the [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).  But the following will be useful for us:

* **Sort Values** in any column.  This ascending (alphabetically or numerically) by default, but can be reversed.  Example:  `beatles_spotify.sort_values("danceability")`
* **Count Values** in any column.  For example: `beatles_billboard["Album.debut"].value_counts()`

* It is also possible to **select some subset of rows or columns** by name or index position.  See above, and the Pandas Cheat Sheet.

* **Filter rows based on some logical condition or string** in one or more columns.  There are several possibilities.  Note the differences between **`str.contains()`** (matches full contents of cell) and **isin(["sub_string_1", "sub_string_2"])** (which matches any number of shorter strings within a cell).

>> The **`str.contains("some text here")`** method will work if the text matches the **full contents** of the cell. For example here we filter to tracks with "unreleased" in the Album.debut column:

>> ```
beatles_billboard[beatles_billboard['Album.debut'].str.contains("unreleased")]
```


>> The **items within "[ ]" become a Boolean series**, which is then used to **mask** the complete data trame (rows with "True" are retained).


>> But we can also **invert the Boolean series**, so that the string "unreleased" is **False**.  "~" (the tilde) is used to invert the mask:

>>```
beatles_billboard[~beatles_billboard['Album.debut'].str.contains("unreleased")]
```
>> Or we can **filter with two conditions** (the above, plus "Year < 1965":
>> ```
beatles_billboard[(beatles_billboard['Album.debut'].str.contains("unreleased")) & (beatles_billboard['Year'] < 1965)]
```

>> The **isin()** method works if you are looking for one or more substrings in a given cell.  Note that the strings must be presented as a "list", thus **`isin(["substring_1", "substring_2"])`**.  For example, this, which returns either "Lennon" or "McCartney" (in any context within that column):

>> ```
beatles_billboard[beatles_billboard['Songwriter'].isin(["Lennon", "McCartney"])]
```

In [ ]:
beatles_spotify.sort_values("danceability")

In [ ]:
beatles_billboard["Album.debut"].value_counts()

In [ ]:
# filter to show _only_ not released songs
beatles_billboard[beatles_billboard['Album.debut'].str.contains("unreleased")]

In [ ]:
# filter to show the opposite:  Exclude Unreleased
beatles_billboard[~beatles_billboard['Album.debut'].str.contains("unreleased")]

In [ ]:

beatles_billboard[(beatles_billboard['Album.debut'].str.contains("unreleased")) & (beatles_billboard['Year'] < 1965)]

In [ ]:
beatles_billboard[beatles_billboard['Songwriter'].isin(["Lennon", "McCartney"])]

# Combining, Joining, and Merging DataFrames

We can merge the two Beatles data frame on the basis of some shared columns.  It is not necessary for the columns to have the same name, but they need to share the same items (like 'songs')

* In this case the **Published_In** column in the emblems list corresponds to the **Book_Id**
* In Pandas, the two frames to be joined are called "left" and "right"
* The "suffixes" argument tells Pandas how to handle fields are otherwise named identically in the source files

In [ ]:
beatles_combined = pd.merge(right=beatles_spotify, 
         left=beatles_billboard, 
         right_on="song", 
         left_on="Title", 
         how="left")

beatles_combined

In [ ]:
# not very meaningful!
# Better:  use billboard data and find mean ranking of those in the top 50 by year.

top_50 = beatles_billboard[beatles_billboard["Top.50.Billboard"] > 0].sort_values('Year')
top_50.tail()

___

___

# Groupby Functions

Learn more about Groupby [here](https://medium.com/towards-data-science/pandas-groupby-aggregate-transform-filter-c95ba3444bbb).


**Groupby** functions allow you to organize and analyze data that share certain features.  For instance, we could find the **number of songs per album**:
```
beatles_billboard.groupby("Album.debut")["Title"].count()
```
Or focus on the relative activity of Lennon and McCartney across the years, first by filtering to only their work:

```
beatles_jl_pm = beatles_billboard[beatles_billboard['Songwriter'].isin(["Lennon", "McCartney"])]

```

Then find the 'groups':

```
grouped = beatles_jl_pm.groupby(["Songwriter"])
grouped.groups
```

And inspect a single "group":

```
grouped.get_group("Lennon")
```

And finally to compare the outputs by grouping via two columns, songwriter and year.

"Size" considers _all_ the rows (even ones with NaNs).

"Count" includes only the rows with valid data.

```
beatles_jl_pm.groupby(['Songwriter','Year']).size()
```

```beatles_jl_pm.groupby(['Songwriter','Year']).count()```

There are many other functions that can be applied to aggregate, filter and transform data within groups!  See the essay above for a guide.

In [ ]:
beatles_billboard.groupby("Album.debut")["Title"].count()

In [ ]:
beatles_jl_pm = beatles_billboard[beatles_billboard['Songwriter'].isin(["Lennon", "McCartney"])]

In [ ]:
grouped = beatles_jl_pm.groupby(["Songwriter"])
grouped.groups

In [ ]:

grouped.get_group("Lennon")

In [ ]:
beatles_jl_pm.groupby(['Songwriter','Year']).size()

# Charts and Graphs

Through libraries like **matplot**, Pandas can quickly produce histograms, charts, and graphs of various kinds (these can even be saved as PNG files for publications).

For example: a histogram of the count of songs per albumn.

```
beatles_spotify["album"].hist(figsize=(10, 5), bins=100)
plt.xlabel("Album")
plt.xticks(rotation = 60) # Rotates X-Axis Ticks by 60-degrees
plt.ylabel("Song Count")
plt.show()
```


Various built-in math functions allow us to run basic statistics.  Libraries like `numpy` permit many more!

In [ ]:
beatles_spotify["album"].hist(figsize=(10, 5), bins=100)
plt.xlabel("Album")
plt.xticks(rotation = 60) # Rotates X-Axis Ticks by 60-degrees

plt.ylabel("Song Count")
plt.show()

In [ ]:
top_50 = beatles_billboard[beatles_billboard["Top.50.Billboard"] > 0].sort_values('Year')

top_50.set_index('Title', inplace=True)
top_50['top-down'] = 50 - top_50['Top.50.Billboard']
top_50['top-down'].plot(kind="bar", figsize=(15, 10))
# ax = plt.gca()
# ax.invert_yaxis()
plt.title("Beatles Top 50 Hits 1962-1969")
plt.xlabel("Song Title")
plt.ylabel("Position in Top 50")
plt.show()