____________________
# Music 255: Pandas Homework

In this homework assignment, you will get a chance to work on:

* **data clean up**: type checking, formatting, variable range
* **filtering and sorting**: producing desired subsets of data
* **customization**: creating new columns, entries, merging datasets

Read more about Pandas [here](https://pandas.pydata.org/about/
).

Find Pandas Tutorials [here](https://www.w3schools.com/python/pandas/default.asp).

Pandas Cheat Sheet:  [here](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

Also remember the guide to various Pandas features in the **M225_B_Pandas Jupyter Notebook**, 
which uses data sets for the Beatles to demonstrate the methods.

#### Setup: Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

____________________

# Part 1: Import Data

As a reminder:


Pandas **data frames** are the basic unit upon which all operations take place.  Data frames are like spreadsheets, with columns and rows.

Indeed, Pandas can easily import spreadsheets in **CSV** (comma-separated values) format.  We will also import data from databases in **JSON** format (JavaScript Object Notation), similar to a Python dictionary.  There are special scripts for working with JSON, too.

Pandas can export as well as import these formats (among others).

In this portion of the homework, you will be asked to import one of the four datasets we compiled for you:

* Beatles: https://docs.google.com/spreadsheets/d/e/2PACX-1vS5BmNaCGD2fZW_csT6pQHD42pkAP9Dy-Vm5qnbQl03Y4ZvAbp_b5NRFNQ0fBSBCvpN6RCxowRc9AQ_/pub?output=csv  <br><br>
* Rolling Stones: https://docs.google.com/spreadsheets/d/e/2PACX-1vQHD3EgBmbdiAAhiS_wML0suRow6r8q26x8k3g7QqyjaGAjDyp0nEymaasQiuDgtDEYm0HOD1MZaJUJ/pub?output=csv <br><br>
* Led Zeppelin: https://docs.google.com/spreadsheets/d/e/2PACX-1vQx7QDXjfB4d_7tav01q0zyZMaGrffldBhUenDJaJt03DH4bTTOneM8srUnJ8zkQ425_xIIXXty5Dzy/pub?output=csv <br><br>
* Bob Dylan: https://docs.google.com/spreadsheets/d/e/2PACX-1vRW3Vi8boPnwbnAwI1sRkJ-D4mF24esW1KvWm7rMueD4hFp2Vu6zXHCgOtEgkD383ZHgQow0j2DKGEM/pub?output=csv

Use the cell below to save your dataset into a Pandas DataFrame:

In [9]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vS5BmNaCGD2fZW_csT6pQHD42pkAP9Dy-Vm5qnbQl03Y4ZvAbp_b5NRFNQ0fBSBCvpN6RCxowRc9AQ_/pub?output=csv"
imported_dataset = pd.read_csv(url)

In the cell below, write a code that will output the **first three rows** of your DataFrame:

In [31]:
# make this cell output the first three rows of your DataFrame

It is also important to obtain the metadata for your dataset. Typically, a data sample is described by its mean, standard deviation, size, shape, and datatypes. Please use the cell above to print out all available **information about your dataset** (use Lab Notebook B for reference):

In [32]:
# describe your dataset

____________________
# Part 2: Data Clean Up

Once you're familiar with your data, it likely needs to be cleaned. Some common practices include **type checking**, **dropping NaNs (Not a Number's)**, and **removing duplicate entries**. In the cells below, you'll get a chance to practice each of these techniques.

#### Step 2.1: Type Checking

One of the features provided by your Spotify Datasets is named "mode" and stands for the Musical Mode of a track. While Spotify's scores are typically binary (0 => Minor; 1 => Major), we sometimes encounter errors in these files: e.g. someone entered "Major" instead of 1.

First, we ask you to type check your dataFrame. There is a built-in Pandas method that does this. Please use the cell below to output the **dataTypes for your DataFrame**:

In [33]:
# use this cell to check the data types of your DataFrame

At this point, you should be able to see that the "mode" column is of type Object. This is because it features both Integers (0's and 1's) and Strings ("Major" and "Minor"), so Python puts the values in an Object wrapper. 

At this point, we want to check to see what are all possible values in the column. Value range checking could be accomplished by calling Python's **set()** function on the DataFrame column. Please output the **set of all values of the "mode" column** in the cell below:

In [34]:
# produce the set of all values in the "mode" column here

In order to clean up this column, you'll need to **write a function** to clean up your data. This could be accomplished by **defining a function** and **applying it within the column**, or by utilizing the **lambda function definition**. 

Please use the cell below to **clean up the "mode" column**:

In [36]:
# your clean-up code here

{'0', '1', 'Major', 'Minor'}

At this point, your "mode" column should only feature 1's and 0's. Please use the cell below to produce the **set of all values** in the column:

In [ ]:
# produce the new set of all values in the "mode" column here

#### Step 2.2: NaN Check

Another useful data clean-up technique is getting rid of (known as "dropping") the empty values. In Python, a missing value is considered a NaN -- short for Not a Number (also known as None). In your Spotify dataset, several track entries (represented as dataset rows) have NaN/None in the "valence" column.

In the cell below, produce a line of code that will **drop NaN's** in your dataset. Then, use Pandas to check for NaN's (see lab example).

In [ ]:
# drop the None values; check if any left

#### Step 2.3: Uniqueness

Finally, sometimes it is very important to check for the uniqueness of the data entries. In the case of your Spotify dataset, we want to make sure no entry is repeated -- as we know that the same song featured in two different albums would be represented as two distinct entries.

Please use the cell below to **remove duplicates** from your DataFrame.

In [ ]:
# remove duplicates here

____________________
# Part 3: Rearranging Data

At this point, you should have a cleaned-up and well-compiled dataset that is ready to be analyzed. As part of configuring your data to fit your analysis purposes, you will often have to **rearrange, sort, filter, group, or bin** your entries. 

#### Step 3.1: Column Order

Sometimes, you would have to **switch your columns around** in order to make your data appear a certain way. Please use the cell below to swap the "loudness" and "mode" columns in your dataset. Output the dataset's column names to showcase your result.

In [15]:
# rearrange columns here: return the columns names list

#### Step 3.2: Row Order

Similarly, sometimes you would have to **rearrange rows**. Use the cell below to swap rows 2 and 3. Output the head of the dataset to illustrate the change:

In [16]:
# swap rows 2 and 3 here

#### Step 3.3: Sorting

Oftentimes, data needs to be sorted. Use the cell below to **sort the entries** in your DataFrame **based on energy**. That is, based on the values in the "energy" column (in ascending order). Output the first 10 rows of your dataset to illustrate the result:

In [ ]:
# sort your data here

#### Step 3.4: Filtering 

When working with data, you would often want to focus on a set of entries that match a criterion of interest. Naturally, Pandas has a very useful built-in filtering method: *pandas.DataFrame.filter*. You can read more about it [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.filter.html)

Use the cell below to **filter all entries** and output those that have a score of 1 in the "mode" column and "valence" score > 0.7:

In [ ]:
# filter your data here

#### Step 3.5: Binning 

Another important tool is being able to categorize data. Oftentimes, this is done through "binning" -- assigning the entry to one of several discrete categories based on some continuous value. In our specific example, we will use the values in the "danceability" column (expressed as floats ranging from 0 to 1) to classify a track as a Dance Tune (0 => Not a Dance Tune; 1 => Definitely a Dance Tune). 

First, you need to think about picking a certain threshold value. Is Get Back by the Beatles (0.628 danceability rating) a Dance Tune? How about Doctor Robert (0.392 danceability score)? Use the code cell below to **pick your danceability threshold value** and save it as a variable.

In [12]:
imported_dataset.loc[imported_dataset["danceability"].astype(float).between(0.000, 0.500, "right"), "Dance Tune"] = 0
imported_dataset.loc[imported_dataset["danceability"].astype(float).between(0.510, 1.000, "right"), "Dance Tune"] = 1
imported_dataset

,Unnamed: 0,artist,track_name,track_id,danceability,energy,key,loudness,mode,speechiness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,Album_Name,Dance Tune
0,0,The Beatles,Get Back - Rooftop Performance / Take 1,4bVT9bpThKnkFtl1xeB2bh,0.628,0.524,2,-11.840,1,0.0773,0.099500,0.1950,0.2720,124.176,283373,4,Get Back (Rooftop Performance),1.0
1,1,The Beatles,Get Back - Rooftop Performance / Take 2,4z3RNAUb0whdaLAudM9EHE,0.655,0.695,9,-9.648,1,0.0381,0.436000,0.1050,0.3300,125.572,204187,4,Get Back (Rooftop Performance),1.0
2,2,The Beatles,Don't Let Me Down - Rooftop Performance / Take 1,6Wjbtcnv4Yw92luvE1Y8tW,0.592,0.513,6,-8.778,0,0.0322,0.000170,0.1820,0.7440,81.920,202467,4,Get Back (Rooftop Performance),1.0
3,3,The Beatles,I've Got A Feeling - Rooftop Performance / Take 1,06rGbrn3Vhp6CeByhZboOT,0.392,0.629,2,-11.235,1,0.1720,0.006990,0.0847,0.3520,165.416,283720,4,Get Back (Rooftop Performance),0.0
4,4,The Beatles,One After 909 - Rooftop Performance,4MBeqWnCdIMcEexCNbNqRt,0.521,0.870,4,-8.985,1,0.2370,0.000002,0.6220,0.7230,90.474,189200,4,Get Back (Rooftop Performance),1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,540,The Beatles,Got To Get You Into My Life - Remastered 2009,3tGhRLgcCP6SIZU3tbGl7l,0.521,0.524,0,-6.136,1,0.0302,0.000009,0.0838,0.7110,136.679,149240,4,Revolver (Remastered),1.0
541,541,The Beatles,Tomorrow Never Knows - Remastered 2009,00oZhqZIQfL9P5CjOP6JsO,0.380,0.829,5,-6.105,1,0.0405,0.002080,0.3420,0.0534,125.887,179547,4,Revolver (Remastered),0.0
542,542,The Beatles,Two Of Us - 2021 Mix,2CEujT1Tuv3jIIjUyUvupg,0.692,0.756,7,-9.677,1,0.0402,0.000088,0.2190,0.8260,109.111,216480,4,Let It Be (Super Deluxe),1.0
543,543,The Beatles,Dig A Pony - 2021 Mix,5pbQlOzqzTacF4wbzmWEeA,0.461,0.500,11,-8.023,0,0.0478,0.000010,0.2090,0.3930,118.377,234760,3,Let It Be (Super Deluxe),0.0
544,544,The Beatles,Across The Universe - 2021 Mix,47q5q2VZ0y264CNDdUAjZY,0.414,0.467,1,-9.189,1,0.0270,0.000023,0.0779,0.7520,76.148,228093,4,Let It Be (Super Deluxe),0.0

Edit this cell to provide **verbal explanation** regarding your choice:

#### Why I chose my threshold:

Now, use the threshold you selected to **produce a column named "DanceTune"**. The new column should say *True* (boolean) **if a track has a danceability score equal to or above your chosen threshold**. Output the column to illustrate your result:

In [ ]:
# bin danceability here; output the new column

#### Step 3.6: Categorical Binning

Sometimes, a simple True/False ranking isn't enough. For example, the "tempo" column provides the Beat Per Minute musical tempo value for a given track; this value typically ranges between 1 and ~500 bpm. While it is possible to classify tracks into Slow and Not Slow, it might be more useful to, for example, categorize them into "Slow", "Medium", and "Fast". 

Similarly to the previous task, use the space below to **come up with two relative thresholds** that would separate tempo into Slow, Medium, and Fast:

In [ ]:
# save your tempo thresholds here

Edit this cell to provide **verbal explanation** regarding your choice:

#### Why I chose my thresholds:

Now, use the threshold you selected to **produce a column named "Pace"**. The new column should say "*Slow*" (String) if a track has a tempo score below your lower threshold, "*Medium*" (String) if it has a tempo score equal to or above your lower threshold but below your upper threshold, and "*Fast*" (String) if its score is above your upper threshold. Output the column to illustrate your result:

In [18]:
# add the new column here

#### Step 3.7: Concatenating DataFrames

As you are working with multiple datasets, you might find it useful to combine several datasets. There are two main ways to combine datasets: merging and concatenating. First, we ask you to explore **concatenating DataFrames** using Pandas' built-in *pandas.concat*.

You can read more about Concatenation [here](https://pandas.pydata.org/docs/reference/api/pandas.concat.html).

 Use the cell below to import one of the other datasets (provided in the Import Data portion of this assignment) as a Pandas DataFrame and then concatenate it with your current dataset vertically **as a new dataset** (think about columns you have added). 

Output the new DataFrame to illustrate your result:

In [ ]:
# produce the new combined DataFrame here:

#### Step 3.8: Merging DataFrames

While concatenating datasets usually means appending more entries that have the same features (columns), **merging DataFrames** enables appending new features (columns) for the same (or new) entries in your DataFrame. Here, we ask you to **merge two datasets** using Pandas' built-in *pandas.DataFrame.merge*.

You can read more about Merging [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html).

In order to help you explore merging, we created four datasets that feature Spotify's "popularity" ranking for the songs contained in the datasets you imported earlier. These additional datasets consist of four columns: "artist", "track_name", "track_id", and "popularity", and your task is to **merge** them so that your current DataFrame will have a new column containing the popularity ranking for each of the songs.

Please find a link to your respective here:
* Beatles popularity: https://docs.google.com/spreadsheets/d/e/2PACX-1vSf9XcJhVAgeLOsyfuiYlqrzeNKieKUkK3t6ciWUvU2OeNVVPYwd0k-GuHRIJqboZm-iXq_0w1BgNpT/pub?output=csv
* Rolling Stones popularity: https://docs.google.com/spreadsheets/d/e/2PACX-1vQTUY4IuZ46dVg4-GrYUg0VpyM5cAlgY1UwDmo4p2QPJhpQxTr6SE5Go2ZVuSQO-bmQir6T1VFpoMGp/pub?output=csv
* Led Zeppelin popularity: https://docs.google.com/spreadsheets/d/e/2PACX-1vSPa8PgnlqkxtVch_FpnV1y2G1MVu54KddLYrYcswQVEWa0Cu-ZRIrOPjmq2h_uT1QAnX8JPNppFcxy/pub?output=csv
* Bob Dylan popularity: https://docs.google.com/spreadsheets/d/e/2PACX-1vTA6lVKOQ7YBpqGPHtyQHwZi58cdubeN2qE686ga682xLHp95EOrq2NaNoyWZ2Rpo_ZqdY_xyIbA1bc/pub?output=csv

Use the cell below to import one of the other datasets as a Pandas DataFrame and then merge it with your current dataset (horizontally) **in place** (updating the current DataFrame). You should think about the columns you have added and make sure no columns repeat. 

Output the new DataFrame to illustrate your result:

____________________
# Part 4: Data Analysis

As a final portion of this assignment, we ask you to explore some Data Analysis techniques in Pandas.

#### Step 4.1: Correlation

One useful metric of two variables relating to each other is the **correlation coefficient**. In general, the correlation coefficient is a measure of how closely related are the data for two variables: whether the points form a linear relationship.

You can read more about Correlation Coefficients [here](https://en.wikipedia.org/wiki/Correlation_coefficient).

There are several ways to measure correlation in Pandas, including pairwise correlation (read more [here](https://pandas.pydata.org/docs/reference/api/pandas.Series.corr.html#pandas.Series.corr)) and the correlation matrix (read more [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html)).

 Use the cell below to **find the Pearson correlation coefficient** between two variables (think columns) of your choice within your dataset:

In [19]:
# explore correlation here

Use this cell to explain why you chose the two variables and what you were able to find:

#### Why I chose my thresholds:

#### Step 4.2: Count

Another tool you might find useful is **counting data entries** that match a given condition. Use the cell below to count DanceTunes that are Slow:

In [ ]:
# count entries here

#### Step 4.3: Simple Charts

Finally, it is extremely useful to produce visual results for your data. There are many types of charts to choose from, including Scatterplots, Pie Charts, Histograms, and many others. You can read more about matplotlib graphs [here](https://pandas.pydata.org/pandas-docs/version/0.13/visualization.html) and find some useful altair information [here](https://pbpython.com/altair-intro.html).

Use the cell below to **produce a simple scatter plot** using matplotlib or altair based on two variables of your choice:

In [ ]:
# produce your scatter plot here

Use this cell to explain why you chose the variables to graph out and how one could interpret the results:

#### Thoughts:

____________________
# Reflections (optional)

Please use this space to reflect on your experience, ask any additional questions, or suggest changes to this or other assignments.